# system files
.DS_store
.idea
data_scraper
data
# setuptools distribution folder.
/dist/
build
SkateTracker.egg-info

# Test datak
SkateTracker/skate_data

# Compiled python modules
*.pyc
**/__pycache__